cssselect==0.9.1
Flask==0.10.1
howdoi==1.1.7
httplib2==0.9.1
itsdangerous==0.24
Jinja2==2.8
lxml==3.4.4
MarkupSafe==0.23
Pygments==2.0.2
pyquery==1.2.9
requests==2.7.0
requests-cache==0.4.10
simplejson==3.8.0
six==1.9.0
vboxapi==1.0
virtualenv==13.1.0
Werkzeug==0.11.2
