@import 'vars';
@import 'mixins';

row>* {
	padding-left: 0px;
	}

.timer {
	width: 25vw;
	height: 25vw;
	&.upcoming, &.passive {
		width: 8.33vw;
		height: 8.33vw;
		}
	.timer-text {
		font-size: 1em;
		color: white !important;
		}
	&.active .timer-text {
		font-size: 2em;
		}
	}

.icons {
	display: none;
	}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	}

.left-align {
	text-align: left;
	}

.right-align {
	right-align: right;
	}

.no-bullets {
	list-style-type: none;
	}

.recipe-list {
	@extend .no-bullets;
	margin-bottom: 0;
	padding-top: 1em;
	}

#main-display {
	background-color: #2c3e50;
	padding: 2em;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	* {
		color: white;
		}
	&.no-round {
		border-radius: 0px;
		}
	}

.name.padded {
	padding-bottom: 0.5em;
	&.upcoming:not(:first-child) {
		padding-top: 1em;
		}
	}

.passive-task {
	padding-bottom: 1em;
	}

body {
	overflow-x: hidden;
	}

.background-image {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	}

#bottom-display {
	background-color: #507191;
	color: white;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	margin-left: -2em;
	}

#controls {
	padding: 2em;
	.control {
		padding-left: 0px;
		font-size: 2em;
		&:hover {
			cursor: pointer;
			cursor: hand;
			color: orange;
			}
		@include vendor-property(transition, color 0.5s);
		}
	}

#description {
	padding-top: 1em;
	}

#header {
	display: none;
	}

#background-tasks {
	:nth-child(n+5) {
		display: none !important;
		}
	}

#logo {
	height: 3em;
	position: absolute;
	left: 1em;
	top: 1em;
	}

#submit-button, #print-button {
	height: 4em;
	float: right;
	padding-right: 1em;
	}

.title-display {
	background-color: rgba(132, 132, 132, 0.5);
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	padding: 1em;

	.title {
		color: white;
		}
	}

.check-mark {
	height: 1em;
	}

#control-prev, #control-next {
	display: none;
	}

#start-timers {
	margin-top: 25%;
	background-color: transparent;
	border: 1px solid orange;
	font-size: 1.5em;
	&:hover {
		background-color: darkorange;
		}
	@include vendor-property(transition, background-color 0.5s);
	}

#done-notification {
	color: lightgreen;
	font-size: 3em;
	margin-top: 25%;
	}

.food-select {
	&.right {
		float: right;
		}
	&.left {
		float: left;
		}
	&:before {
		content: '';
		background: transparent;
		border-color: inherit;
		}
	&:focus {
		border-color: inherit;
		}
	&:checked {
		background-color: white;
		}
	}

@media #{$mobile} {
	#control-prev, #control-next {
		display: none;
		}
	#control-play {
		padding-left: 0px;
		width: 100%;
		}
	}

@media #{$mobile-portrait} {
	.timer-text {
		font-size: 0.5em !important;
		}
	#upcoming-tasks-column {
		display: none;
		}
	#background-tasks-column {
		width: 100%;
		}
	}

@media #{$tablet-larger} {
	.timer {
		.timer-text {
			font-size: 1.5em;
			}
		&.active .timer-text {
			font-size: 4em;
			}
		}
	}
