@import 'vars';
@import 'mixins';

.timer {
	width: 25vw;
	height: 25vw;
	&.upcoming, &.passive {
		width: 8.33vw;
		height: 8.33vw;
		}
	.timer-text {
		font-size: 1em;
		}
	&.active .timer-text {
		font-size: 2em;
		}
	}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	}

.left-align {
	text-align: left;
	}

.right-align {
	right-align: right;
	}

#controls {
	.control {
		padding-left: 0px;
		font-size: 2em;
		&:hover {
			cursor: pointer;
			cursor: hand;
			color: blue;
			}
		@include vendor-property(transition, color 0.5s);
		}
	}

#background-tasks {
	:nth-child(n+5) {
		display: none !important;
		}
	}

@media #{$mobile} {
	#control-prev, #control-next {
		display: none;
		}
	#control-play {
		padding-left: 0px;
		width: 100%;
		}
	}

@media #{$mobile-portrait} {
	.timer-text {
		font-size: 0.5em !important;
		}
	#upcoming-tasks-column {
		display: none;
		}
	#background-tasks-column {
		width: 100%;
		}
	}

@media #{$tablet-larger} {
	.timer {
		.timer-text {
			font-size: 1.5em;
			}
		&.active .timer-text {
			font-size: 4em;
			}
		}
	}
