<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<!--[if lte IE 8]><script src="static/css/ie/html5shiv.js"></script><![endif]-->
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/jquery.dropotron.min.js"></script>
	<script src="static/js/jquery.scrollgress.min.js"></script>
	<script src="static/js/skel.min.js"></script>
	<script src="static/js/skel-layers.min.js"></script>
	<script src="static/js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="static/css/skel.css" />
		<link rel="stylesheet" href="static/css/style.css" />
		<link rel="stylesheet" href="static/css/style-wide.css" />
	</noscript>
	<!--[if lte IE 8]><link rel="stylesheet" href="static/css/ie/v8.css" /><![endif]-->
</head>