{% extends "page.html" %}
{% block content %}
	<section id="main" class = "container">
		<div class="container">
			<div class="row">
				<div class="6u center">
					<header><h2>Active Task</h2></header>
					<div class="timer center" id = "active-task-timer"></div><br/>
					<div id="description">Dice 2 red onions into ~4cm chunks</div>
					<div id = "controls" class = "row">
						<div id="control-prev" class = "control 4u"><i class="fa fa-step-backward"></i></div>
						<div id="control-play" class = "control 4u"><i class="fa fa-play"></i></div>
						<div id="control-next" class = "control 4u"><i class="fa fa-step-forward"></i></div>
					</div>
				</div>
				<div class="6u$"><div class="row">
					<div class="6u">
						<h3>Upcoming Tasks</h3>
					</div>
					<div class="6u">
						<h3>Background Tasks</h3>
					</div>
				</div></div>
			</div>
		</div>
	</section>
	<script type = "text/javascript">
		$(document).ready(function() {
			globalTimer = new Timer();
			activeTimer = new TimerVisualizer("#active-task-timer", 175, globalTimer);
			$("#control-play").click(function() {
				if (activeTimer.isRunning()) {
					activeTimer.stop();
					$(this).children("i").get(0).className = "fa fa-play";
					}
				else {
					activeTimer.start();
					$(this).children("i").get(0).className = "fa fa-pause";
					}
				});
			});
	</script>
{% endblock %}
