{% extends "page.html" %}
{% block content %}
	<section id="main" class = "container">
		<img src="/static/images/ingredients_background.png" class = "background-image" alt="">
		<div class="container all-content">
			<div class="row title-display">
				<div class="4u"><h2 class = "title">Ingredients</h2></div>
				<div class="4u">
					<a id = "print-button" class = "button round" onclick = "window.print(); return false;" x-data-analytic="print-ingredients">Print</a>
				</div>
				<div class="4u">
					<a id = "submit-button" class = "button round" href = "/timers/" x-data-analytic="continue-to-timers">Continue</a>
				</div>
			</div>
			<div class="row no-round" id = "main-display">
				<ol>
					{% for ingredient in ingredients %}
						<li><h3>{{ ingredient }}</h3></li>
					{% endfor %}
				</ol>
			</div>
		</div>
	</section>
{% endblock %}
